.numberline-position-container {
	width: 50px;
	div {
		aspect-ratio: 1;
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		position: relative;

		&[data-numberline-current="1"] {
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;

				border: 10px solid transparent;
				border-top-color: #333333;

				transform: translate(-50%, -50%);
			}
		}

		&:first-child {
			border-bottom: 1px solid #333333;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;

				transform: translateX(-50%);

				border: 5px solid transparent;
				border-bottom-color: #333333;
			}
		}
		&:last-child {
			border-top: 1px solid #333333;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;

				transform: translateX(-50%);

				border: 5px solid transparent;
				border-top-color: #333333;
			}
		}
	}
}
