@import 'numberline';

#numberline-container {
    margin-inline: auto;
    min-width: 600px;
    justify-content: center;

    overflow-x: auto;
}
#form-container {
    max-width: 550px;
    margin: auto;

    form {
        display: flex;
        gap: 10px;
    }
}