@import 'numberline';

html {
    scroll-behavior: smooth;
}
body{
    background-color: beige;
}

h1, h2, h3 {
    color: darken(brown, 15%);
}


#numberline-container {
    margin-inline: auto;
    scroll-behavior: smooth;
    overflow-x: auto;
}
#form-container {
    max-width: 550px;
    margin: auto;

    form {
        display: flex;
        gap: 10px;
    }
}